<div>
    <h2>
        <span jhiTranslate="backstageApp.edicion.home.title">Edicions</span>
        <button class="btn btn-primary float-right jh-create-entity create-edicion" [routerLink]="['/', { outlets: { popup: ['edicion-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="backstageApp.edicion.home.createLabel">
            Create new Edicion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="edicions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaIinicio"><span jhiTranslate="backstageApp.edicion.fechaIinicio">Fecha Iinicio</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="fechaFin"><span jhiTranslate="backstageApp.edicion.fechaFin">Fecha Fin</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="logo"><span jhiTranslate="backstageApp.edicion.logo">Logo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="festivalId"><span jhiTranslate="backstageApp.edicion.festival">Festival</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let edicion of edicions ;trackBy: trackId">
                <td><a [routerLink]="['../edicion', edicion.id ]">{{edicion.id}}</a></td>
                <td>{{edicion.fechaIinicio | date:'mediumDate'}}</td>
                <td>{{edicion.fechaFin | date:'mediumDate'}}</td>
                <td>
                    <a *ngIf="edicion.logo" (click)="openFile(edicion.logoContentType, edicion.logo)">
                        <img [src]="'data:' + edicion.logoContentType + ';base64,' + edicion.logo" style="max-height: 30px;" alt="edicion image"/>
                    </a>
                    <span *ngIf="edicion.logo">{{edicion.logoContentType}}, {{byteSize(edicion.logo)}}</span>
                </td>
                <td>
                    <div *ngIf="edicion.festivalId">
                        <a [routerLink]="['../festival', edicion.festivalId  ]" >{{edicion.festivalId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../edicion', edicion.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'edicion/'+ edicion.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'edicion/'+ edicion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
