
<div *ngIf="edicion">
    <h2><span jhiTranslate="backstageApp.edicion.detail.title">Edicion</span> {{edicion.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backstageApp.edicion.fechaIinicio">Fecha Iinicio</span></dt>
        <dd>
            <span>{{edicion.fechaIinicio | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="backstageApp.edicion.fechaFin">Fecha Fin</span></dt>
        <dd>
            <span>{{edicion.fechaFin | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="backstageApp.edicion.logo">Logo</span></dt>
        <dd>
            <div *ngIf="edicion.logo">
                <a (click)="openFile(edicion.logoContentType, edicion.logo)">
                    <img [src]="'data:' + edicion.logoContentType + ';base64,' + edicion.logo" style="max-width: 100%;" alt="edicion image"/>
                </a>
                {{edicion.logoContentType}}, {{byteSize(edicion.logo)}}
            </div>
        </dd>
        <dt><span jhiTranslate="backstageApp.edicion.festival">Festival</span></dt>
        <dd>
            <div *ngIf="edicion.festivalId">
                <a [routerLink]="['/festival', edicion.festivalId]">{{edicion.festivalId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'edicion/'+ edicion.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
