<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEdicionLabel" jhiTranslate="backstageApp.edicion.home.createOrEditLabel">Create or edit a Edicion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!edicion.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="edicion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backstageApp.edicion.fechaIinicio" for="field_fechaIinicio">Fecha Iinicio</label>
            <div class="input-group">
                <input id="field_fechaIinicio" type="text" class="form-control" name="fechaIinicio" ngbDatepicker  #fechaIinicioDp="ngbDatepicker" [(ngModel)]="edicion.fechaIinicio"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaIinicioDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.fechaIinicio?.dirty && editForm.controls.fechaIinicio?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fechaIinicio?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backstageApp.edicion.fechaFin" for="field_fechaFin">Fecha Fin</label>
            <div class="input-group">
                <input id="field_fechaFin" type="text" class="form-control" name="fechaFin" ngbDatepicker  #fechaFinDp="ngbDatepicker" [(ngModel)]="edicion.fechaFin"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="fechaFinDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.fechaFin?.dirty && editForm.controls.fechaFin?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.fechaFin?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backstageApp.edicion.logo" for="field_logo">Logo</label>
            <div>
                <img [src]="'data:' + edicion.logoContentType + ';base64,' + edicion.logo" style="max-height: 100px;" *ngIf="edicion.logo" alt="edicion image"/>
                <div *ngIf="edicion.logo" class="form-text text-danger clearfix">
                    <span class="pull-left">{{edicion.logoContentType}}, {{byteSize(edicion.logo)}}</span>
                    <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_logo" (change)="setFileData($event, edicion, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="logo" id="field_logo"
                [(ngModel)]="edicion.logo" />
            <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                [(ngModel)]="edicion.logoContentType" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="backstageApp.edicion.festival" for="field_festival">Festival</label>
            <select class="form-control" id="field_festival" name="festival" [(ngModel)]="edicion.festivalId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="festivalOption.id" *ngFor="let festivalOption of festivals; trackBy: trackFestivalById">{{festivalOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
