
<div *ngIf="festival">
    <h2><span jhiTranslate="backstageApp.festival.detail.title">Festival</span> {{festival.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="backstageApp.festival.nombre">Nombre</span></dt>
        <dd>
            <span>{{festival.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="backstageApp.festival.pais">Pais</span></dt>
        <dd>
            <span>{{festival.pais}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'festival/'+ festival.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
